@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Press+Start+2P&family=Silkscreen&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Press Start 2P', cursive; */
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 60%;

  /*
  --hsl-zzzz-h: 359;
  --hsl-zzzz-s: 100%;
  --hsl-zzzz-l: 73%;
  --hsl-zzzz: var(--hsl-zzzz-h), var(--hsl-zzzz-s), var(--hsl-zzzz-l);

  --color-zzzz: hsl(var(--hsl-zzzz-h), var(--hsl-zzzz-s), var(--hsl-zzzz-l), 1);
  --color-zzzz-dark: hsl(var(--hsl-zzzz-h), var(--hsl-zzzz-s), calc(var(--hsl-zzzz-l) * .9));
  --color-zzzz-light: hsl(var(--hsl-zzzz-h), var(--hsl-zzzz-s), calc(var(--hsl-zzzz-l) / .9));
  --color-zzz-50: hsla(var(--hsl-zzz), .5);
  --color-zzz-faded: hsl(var(--hsl-zzz-h), calc(var(--hsl-zzz-s) / 2), var(--hsl-zzz-l));
  --color-zzz-warm: hsl(calc(var(--hsl-zzz-h) + 20), var(--hsl-zzz-s), var(--hsl-zzz-l));
  --color-zzz-cold: hsl(calc(var(--hsl-zzz-h) - 20), var(--hsl-zzz-s), var(--hsl-zzz-l)); 
  */

  --hsl-red-h: 320;
  --hsl-red-s: 63%;
  --hsl-red-l: 63%;
  --hsl-red: var(--hsl-red-h), var(--hsl-red-s), var(--hsl-red-l);

  --hsl-yellow-h: 54;
  --hsl-yellow-s: 64%;
  --hsl-yellow-l: 53%;
  --hsl-yellow: var(--hsl-yellow-h), var(--hsl-yellow-s), var(--hsl-yellow-l);
 
  --hsl-green-h: 169;
  --hsl-green-s: 89%;
  --hsl-green-l: 40%;
  --hsl-green: var(--hsl-green-h), var(--hsl-green-s), var(--hsl-green-l);
  
  --hsl-blue-h: 202;
  --hsl-blue-s: 84%;
  --hsl-blue-l: 63%;
  --hsl-blue: var(--hsl-blue-h), var(--hsl-blue-s), var(--hsl-blue-l);

  --hsl-grey-h: 320;
  --hsl-grey-s: 5%;
  --hsl-grey-l: 33%;
  --hsl-grey: var(--hsl-grey-h), var(--hsl-grey-s), var(--hsl-grey-l);

  --hsl-black-h: 320;
  --hsl-black-s: 5%;
  --hsl-black-l: 13%;
  --hsl-black: var(--hsl-black-h), var(--hsl-black-s), var(--hsl-black-l);

  --hsl-white-h: 53;
  --hsl-white-s: 50%;
  --hsl-white-l: 92%;
  --hsl-white: var(--hsl-white-h), var(--hsl-white-s), var(--hsl-white-l);

  --color-red: hsl(var(--hsl-red-h), var(--hsl-red-s), var(--hsl-red-l), 1);
  --color-red-dark: hsl(var(--hsl-red-h), var(--hsl-red-s), calc(var(--hsl-red-l) * .8));
  --color-red-light: hsl(var(--hsl-red-h), var(--hsl-red-s), calc(var(--hsl-red-l) / .85));

  --color-blue: hsl(var(--hsl-blue-h), var(--hsl-blue-s), var(--hsl-blue-l), 1);
  --color-blue-dark: hsl(var(--hsl-blue-h), var(--hsl-blue-s), calc(var(--hsl-blue-l) * .85));
  --color-blue-light: hsl(var(--hsl-blue-h), var(--hsl-blue-s), calc(var(--hsl-blue-l) / .85));

  --color-green: hsl(var(--hsl-green-h), var(--hsl-green-s), var(--hsl-green-l), 1);
  --color-green-dark: hsl(var(--hsl-green-h), var(--hsl-green-s), calc(var(--hsl-green-l) * .85));
  --color-green-light: hsl(var(--hsl-green-h), var(--hsl-green-s), calc(var(--hsl-green-l) / .7));

  --color-yellow: hsl(var(--hsl-yellow-h), var(--hsl-yellow-s), var(--hsl-yellow-l), 1);
  --color-yellow-dark: hsl(var(--hsl-yellow-h), var(--hsl-yellow-s), calc(var(--hsl-yellow-l) * .75));
  --color-yellow-light: hsl(var(--hsl-yellow-h), var(--hsl-yellow-s), calc(var(--hsl-yellow-l) / .8));

  --color-black: hsl(var(--hsl-black-h), var(--hsl-black-s), var(--hsl-black-l), 1);
  --color-black-dark: hsl(var(--hsl-black-h), var(--hsl-black-s), 5%);
  --color-black-light: hsl(var(--hsl-black-h), var(--hsl-black-s), 20%);

  --color-grey: hsl(var(--hsl-grey-h), var(--hsl-grey-s), var(--hsl-grey-l), 1);
  --color-grey-dark: hsl(var(--hsl-grey-h), var(--hsl-grey-s), calc(var(--hsl-grey-l) * .8));
  --color-grey-light: hsl(var(--hsl-grey-h), var(--hsl-grey-s), calc(var(--hsl-grey-l) / .85));

  --color-white: hsl(var(--hsl-white-h), var(--hsl-white-s), var(--hsl-white-l), 1);
  --color-white-dark: hsl(var(--hsl-white-h), var(--hsl-white-s), 80%);
  --color-white-light: hsl(var(--hsl-white-h), var(--hsl-white-s), 100%);



  --co-enemy: var(--color-red);
  --co-enemy-secondary: var(--color-red-light);

  --co-enemy-bordertop: var(--color-grey-dark);
  --co-enemy-borderside: var(--color-grey-light);
  --co-enemy-highlight: var(--color-red-light);
  --co-enemy-door: var(--color-red);



  --co-player: var(--color-white);
  --co-player-secondary: var(--color-blue);

  --co-player-bordertop: var(--color-grey-dark);
  --co-player-borderside: var(--color-grey-light);
  --co-player-border: var(--color-green-dark);
  --co-player-highlight: var(--color-green-light);
  --co-player-door: var(--color-grey-dark);

  --co-sidebtn-spin: var(--color-blue);
  --co-sidebtn-spin-secondary: var(--color-blue);
  --co-sidebtn-spin-text: var(--color-white);

  --co-sidebtn-attack: var(--color-red);
  --co-sidebtn-attack-secondary: var(--color-red);
  --co-sidebtn-attack-text: var(--color-white);


  --co-health: var(--color-red);
  --co-defense: var(--color-blue);

  --co-reel-divider: var(--color-blue-light);
  --co-editor-primary: var(--color-blue);
  --co-editor-secondary: var(--color-white);

  --co-reel-bg: var(--color-white);


  --co-button-primary: var(--color-white);
  --co-button-secondary: var(--color-black);
  --co-button-disabled-primary: var(--color-grey-light);
  --co-button-disabled-secondary: var(--color-grey);

  --co-bg-secondary: var(--color-black-dark);
  --co-bg-secondary-lit: var(--color-black-dark);
  --co-bg-primary: var(--color-black);
  --co-bg-primary-lit: var(--color-black);

  --font-8bit: 'Press Start 2P', cursive;
  --font-8bit2: 'Silkscreen', cursive;
  --font-cursive: 'Bubblegum Sans', cursive;
  --font-base: var(--font-8bit2);

  --border-width: 0.75rem;
  --border-width-small: 0.5rem;

  --filter-shadow1: drop-shadow(0.2rem 0.2rem 0.1rem var(--color-black));
  --filter-shadow2: drop-shadow(0.5rem 0.5rem 0.5rem var(--color-black));

  --val-reel-width: 110px;
  --val-reel-height: 100px; /* SHOULD MATCH REEL_HEIGHT */
  --val-reel-peek: 60px; /* how much you can see adjacent items */

  --val-depth: 1.25rem;
  --val-depth-sm: 0.5rem;

  --val-depth-radius: 0.5rem;
  
  --opacity-editorfade: 1;

  font-family: var(--font-base);

  background-color: var(--color-black);
  color: var(--color-white);
  
  user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}
h2 {
  font-size: 2rem;
  line-height: 1.8;
}
h3{
  font-size: 1.8rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, p, span, i {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}

button {
  margin:0;
  padding:0;
  border:none;
  font-family: var(--font-base);
}

/* @media (prefers-color-scheme: light) {} */
