@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Press+Start+2P&family=Silkscreen&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Press Start 2P', cursive; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-orange: #fe8240;

  --color-blue: #71acfe;
  --color-red-light: #ff9fa0;
  --color-red: #ff7577;
  --color-red-dark: #a84d4f;
  --color-green-dark: #4aa850;
  --color-green: #6dfe79;
  --color-green-light: #c7ffdd;
  --color-yellow: #ffff77;
  --color-purple: #9975ff;
  --color-pink: #eb99ff;
  --color-cyan: #99ffff;

  --color-slate-dark: #08141e;
  --color-slate: #0f2a3f;
  --color-slate-light: #20394f;
  --color-slate-lighter: #2b4c69;
  --color-brown-lighter: #f6d6bd;
  --color-brown-light: #c3a38a;
  --color-brown: #997577;
  --color-brown-dark: #816271;
  --color-brown-darker: #4e495f;

  
  --color-white: var(--color-brown-lighter);
  --color-black: var(--color-slate-dark);
  --color-grey: var(--color-slate);
  --color-grey-light: var(--color-slate-light);
  --color-grey-lighter: var(--color-slate-lighter);

  --color-enemy: var(--color-red);
  --color-enemy-borderside: var(--color-red-light);
  --color-enemy-bordertop: var(--color-red-dark);

  --color-player: var(--color-brown);
  --color-player-borderside: var(--color-brown-dark);
  --color-player-bordertop: var(--color-brown-darker);

  --color-health: var(--color-red-dark);
  --color-defense: var(--color-blue);

  --font-8bit: 'Press Start 2P', cursive;
  --font-8bit2: 'Silkscreen', cursive;
  --font-base: var(--font-8bit2);

  --border-width: 0.75rem;
  --border-width-small: 0.5rem;

  --filter-shadow1: drop-shadow(0.2rem 0.2rem 0.1rem var(--color-black));
  --filter-shadow2: drop-shadow(0.5rem 0.5rem 0.5rem var(--color-black));

  --val-reel-width: 8rem;
  --val-reel-height: 12rem; /* SHOULD MATCH REEL_HEIGHT */

  --val-depth: 1.0rem;

  font-family: var(--font-base);

  background-color: var(--color-black);
  color: var(--color-white);
  
  
  user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
h2 {
  font-size: 2.5rem;
  line-height: 1;
}

h1, h2, h3, h4, h5, p, span, i {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}

button {
  margin:0;
  padding:0;
  border:none;
  font-family: var(--font-base);
}

/* @media (prefers-color-scheme: light) {} */
